<div class="container-fluit">
  <div class="row">
    <div class="col-md-8 mx-auto mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let register of register">
            <th scope="row">1</th>
            <td>{{ register.id }}</td>
            <td>{{ register.Name }}</td>
            <td>{{ register.Last_name }}</td>
            <td>{{ register.Date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
